.container {
  box-sizing: border-box;
  height: 40px;
  padding-top: 9px;
}

.item {
  display: inline-block;
  line-height: 22px;
  color: rgb(0, 200, 120);
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.item:hover {
  color: rgb(100, 200, 100);
}